{% load static %}

<head>
    <title>Secret Specification</title>
</head>

<link rel="shortcut icon" type="image/ico" href="{% static 'media/secret.ico' %}" >

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<table id="table">
    <thead>
        <tr>
            <th class='cell'>Модель</th>
            <th class='cell td-opening'>Открывание</th>
            <th class='cell-l'>Габариты </th>
            <th class='cell-r'>полотна</th>
            <th class='cell-l'>Габариты </th>
            <th class='cell-r'>проема</th>
            <th class='cell'>Тип короба</th>
            <th class='cell'>Алюминиевый обвяз полотна</th>
            <th class='cell'>Цвет покраски профиля и короба</th>
            <th class='cell'>Цвет уплотнителя</th>
            <th class='cell-l'>Габариты </th>
            <th class='cell-r'>короба</th>
            <th class='cell'>Отверствия ручка</th>
            <th class='cell'>Петли</th>
            <th class='cell'>Количество</th>
            <th class='cell'>Цена</th>
            <th class='cell'>Всего</th>
        </tr>
        <tr>
            <th class='cell'>Наименование</th>
            <th class='cell td-opening'>Левое\правое</th>
            <th class='cell'>Ширина мм лицо\тыл</th>
            <th class='cell'>Высота мм </br>лицо\тыл</th>
            <th class='cell'>Ширина мм</th>
            <th class='cell'>Высота мм</th>
            <th class='cell'>Наименование</th>
            <th class='cell'>Наличие</th>
            <th class='cell'>Цвет</th>
            <th class='cell'>Цвет</th>
            <th class='cell'>Ширина мм</th>
            <th class='cell'>Высота мм</th>
            <th class='cell'>лицо\тыл</th>
            <th class='cell'>шт</th>
            <th class='cell'>шт</th>
            <th class='cell'>грн</th>
            <th class='cell'>грн</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<div class="info">
    <div class="opening-photo">
        <img src="{% static "media/Internal opening.png" %}" class="opening-img">
        <img src="{% static "media/External opening.png" %}" class="opening-img">
    </div>
    <div class="price">
        <div class="info_price">
            <span>Всего за дверные блоки: </span>
            <span id="full-price-value" class="info-value"></span>
            <span>грн</span>
        </div>
        <div class="info_price">
            <span>Скидка: </span>
            <span id="discount-value" class="info-value">30%</span>
        </div>   
        <div class="info_price">
            <span>Всего, с учётом скидки: </span>
            <span id="full-price-discount-value" class="info-value"></span>
            <span>грн</span>
        </div>
    </div>
</div>

{% if door_block_list %}
    <table>
        <thead>
            <tr>
                <th class='cell'>Модель</th>
                <th class='cell td-opening'>Открывание</th>
                <th class='cell-l'>Габариты </th>
                <th class='cell-r'>полотна</th>
                <th class='cell-l'>Габариты </th>
                <th class='cell-r'>проема</th>
                <th class='cell'>Тип короба</th>
                <th class='cell'>Алюминиевый обвяз полотна</th>
                <th class='cell'>Цвет покраски профиля и короба</th>
                <th class='cell'>Цвет уплотнителя</th>
                <th class='cell-l'>Габариты </th>
                <th class='cell-r'>короба</th>
                <th class='cell'>Отверствия ручка</th>
                <th class='cell'>Петли</th>
                <th class='cell'>Количество</th>
                <th class='cell'>Цена</th>
                <th class='cell'>Всего</th>
            </tr>
            <tr>
                <th class='cell'>Наименование</th>
                <th class='cell td-opening'>Левое\правое</th>
                <th class='cell'>Ширина мм</th>
                <th class='cell'>Высота мм</th>
                <th class='cell'>Ширина мм</th>
                <th class='cell'>Высота мм</th>
                <th class='cell'>Наименование</th>
                <th class='cell'>Наличие</th>
                <th class='cell'>Цвет</th>
                <th class='cell'>Цвет</th>
                <th class='cell'>Ширина мм</th>
                <th class='cell'>Высота мм</th>
                <th class='cell'>лицо\тыл</th>
                <th class='cell'>шт</th>
                <th class='cell'>шт</th>
                <th class='cell'>€</th>
                <th class='cell'>€</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class='cell'>
                    <select name="model" id="select-model" class='model'>
                        <option value="" disabled selected>Модель</option>
                        {% for door in door_block_list %}
                        {% ifchanged door.model %}
                        <option value="{{ door.model }}">{{ door.model }}</option>
                        {% endifchanged %}
                        {% endfor %}
                    </select>
                </td>
                <td class='cell td-opening'>
                    <select name="opening" id="select-opening" class='opening'>
                        <option value="" disabled selected>Открывание</option>
                        <option value="Левое">Левое</option>
                        <option value="Правое">Правое</option>
                    </select>
                    <select name="opening-2" id="select-opening-2" class='opening'>
                        <option value="" disabled selected>Открывание</option>
                        <option value="Наружное">Наружное</option>
                        <option value="Внутреннее">Внутреннее</option>
                    </select>
                </td>
                <td class='cell'>
                    <select name="width" id="select-width" class='width get-price'>
                        <option value="" disabled selected>Ширина мм</option>
                    </select>
                </td>
                <td class='cell'>
                    <select name="height" id="select-height" class='height get-price'>
                        <option value="" disabled selected>Высота мм</option>
                    </select>
                </td>
                <td class='cell'>
                    <span id="aperture-width"></span>
                </td>
                <td class='cell'>
                    <span id="aperture-height"></span>
                </td>
                <td class='cell'>
                    <select name="frame" id="select-frame" class='frame get-price'>
                        <option value="" disabled selected>Тип короба</option>
                    </select>
                </td>
                <td class='cell'>
                    <span id="al-band-canvas"></span>
                </td>
                <td class='cell'>
                    <span id="profile-frame-color"></span>
                </td>
                <td class='cell'>
                    <span id="seal-color"></span>
                </td>
                <td class='cell'>
                    <span id="frame-width"></span>
                </td>
                <td class='cell'>
                    <span id="frame-height"></span>
                </td>
                <td class='cell'>
                    <span id="hole-pen">+\+</span>
                </td>
                <td class='cell'>
                    <span id="loop">2</span>
                </td>
                <td class='cell count'>
                    <input placeholder="Введите кол-во" type="number" name="" id="count" min="1" class="get-price">
                </td>
                <td class='cell'>
                    <span class="price" id='price'></span>
                </td>
                <td class='cell'>
                    <span class="total-price" id='total-price'></span>
                </td>
            <tr>
        </tbody>
    </table>
{% endif %}

<form>
{% csrf_token %}
    <button type="button" id="add">Добавить дверь</button>
</form>
<form method="post" action="{% url 'create_excel_specification' %}">
    {% csrf_token %}
    <button type="submit">Download Excel</button>
</form>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>