{% load static %}

<style>
	@font-face {
		font-family: Roboto;
		src: url('polls/static/Roboto-Light.ttf');
	}

	@page {
		size: A4 landscape;
		margin: 1cm;
	}

	* {
		font-family: 'Roboto', sans-serif;
		font-size: 6px;
	}

	h3 {
		font-size: 14px;
	}

	/* table {

		table-layout: fixed;
		border-collapse: collapse;
	} */
	/* 
	th {
		border: 2px solid #121212;
	} */

	td,
	th {
		/* height: 20px; */
		text-align: center;
		padding: 0.3em;
	}

	th{
		padding: 0;
	}

	tr {
		border: 1px solid #121212;
	}


	.vertical {
		writing-mode: vertical-lr;
		/* transform: rotate(180deg);
		white-space: nowrap;
		width: 25px; */
	}

	.info-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Два столбца с равной шириной */
        gap: 20px; /* Отступ между блоками */
    }

    .info {
        /* Можно добавить дополнительные стили для блока info */
    }
</style>


<h3>Бланк заказа №
	{{ table.id }}</h3>
<div>Менеджер:
	{{table.manager}}</div>
<div>{{table.manager_phone}}</div>

{% if html %}
{{html|safe}}
{% endif %}</br></br></br>

<style>
	div{
		width: 100%;
		text-align: left;
	}
	div span{
		font-size: 12px;
	}
</style>
	<table id="info-content">
		<tr>
			<td>
	<div class='info'>
		<span>Всего за дверные блоки: {{table.total}} грн</span></br>
		<span>Скидка:{{sale}}грн</span></br>
		<span>Всего, с учетом скидки: {{table.total_with_sale}} грн</span></br>
		<span>Доставка на склад(объект) без выгрузки и заноса на этаж: {{table.delivery}} грн</span></br>
		<span>Монтаж:{{table.install}}грн</span></br><span>Замеры: {{table.measurements}} грн</span></br>
		<span>Итоги, без НДС: {{table.total_ex_vat}} грн</span></br>
		<span>Предоплата: {{table.prepayment}} грн</span> </br>
		<span>Остаток: {{table.remainder}} грн</span></br>
	</div>
</td>
<td>
	<div class="info">
		<span>Город: {{table.city}}</span></br><span>Заказчик: {{table.client}}</span></br>
		<span>Доставка заказа: {{table.delivery_info}}</span></br>
		<span>Контакти: {{table.client_contact}}</span></br>
		<span>Эл.Адреса: {{table.client_email}}</span>
	</div>
</td>
<td>
	<div>
		<span>Высота ручки : 1000 мм. от низа полотна.</br>
			Зазор от пола до полотна : 8 мм.</br>
			Цвет фурнитуры : мат.хром</br>
			Без стоимости ручек.</br>
			<span>Срок изготовления: 8-10 недель с момента согласования и внесения предоплаты.</span>
		</span>
	</div>
</td>
</tr>
</table>