{% load static %}

<style>
	@font-face {
		font-family: Roboto;
		src: url('/static/Roboto-Light.ttf');
	}

	@page {
		size: A4 landscape;
		margin: .5cm;
	}

	* {
		font-family: 'Roboto', sans-serif;
		font-size: 8px;
	}

	h3 {
		font-size: 14px;
	}

	td,
	th {
		/* height: 20px; */
		text-align: center;
		padding: 0.3em;
	}

	th{
		padding: 0;
	}

	tr {
		border: 1px solid #121212;
	}

	img{
		width: 10cm;
	}
</style>


<h3>Бланк замовлення №
	{{ table.id }}</h3>
<div>Менеджер:
	{{table.manager}}</div>
<div>{{table.manager_phone}}</div>

{% if html %}
{{html|safe}}
{% endif %}</br></br></br>

<style>
	div{
		width: 100%;
		text-align: left;
		padding: 10px;
	}
	div span{
		font-size: 12px;
	}
</style>
	<table id="info-content">
		<tr>
			<td>
	<div class='info'>
		<span>Усього за дверні блоки: {{table.total}} грн</span></br>
		<span>Знижка:{{sale}}грн</span></br>
		<span>Усього, з урахуванням знижки: {{table.total_with_sale}} грн</span></br>
		<span>Доставка на склад (об'єкт) без вивантаження та занесення на поверх: {{table.delivery}} грн</span></br>
		<span>Монтаж:{{table.install}}грн</span></br><span>Заміри: {{table.measurements}} грн</span></br>
		<span>Підсумки без ПДВ: {{table.total_ex_vat}} грн</span></br>
		<span>Передплата: {{table.prepayment}} %</span> </br>
		<span>Передплата: {{prepayment_value}} грн</span> </br>
		<span>Залишок: {{table.remainder}} грн</span></br>
	</div>
</td>
<td>
	<div class="info">
		<span>Місто: {{table.city}}</span></br><span>Замовник: {{table.client}}</span></br>
		<span>Доставка замовлення: {{table.delivery_info}}</span></br>
		<span>Контакти: {{table.client_contact}}</span></br>
		<span>Ел.Адреса: {{table.client_email}}</span>
	</div>
</td>
<td>
	<div>
		<span>Висота ручки: 1000 мм. від низу полотна.</br>
			Зазор від підлоги до полотна: 8 мм.</br>
			Колір фурнітури: мат.хром</br>
			Без вартості ручок.</br>
			<span>Термін виготовлення: 8-10 тижнів з моменту погодження та внесення передоплати.</span>
		</span>
	</div>
</td>
</tr>
</table>

<img src="/static/External opening.jpg" class="opening-img external">
