.content,
table,
input,
select {
    font-size: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead tr th {
    border: 2px solid #121212;
}

.cell {
    height: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
}

table tbody tr td {
    border: 1px solid #121212;
}


.vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
    width: 25px;
}


select,
input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


select:active,
select:focus,
input:active {
    border: none;
    outline: none;
}

select:hover,
input:hover {
    cursor: pointer;
    color: #636363;
}

.opening-img {
    width: 350px;
    height: auto;
}

.price {
    transform: translateY(-100%);
    font-weight: bold;
    text-align: right;
}

.info-value {
    text-decoration: underline;
}

.info-price {
    width: 100%;
    height: 100%;

}

.inline-div {
    display: inline-flex;
    justify-content: flex-end;

    input {
        width: 40px;
        text-align: right;
    }
}